<h2>Exemple des directive</h2>
<button >Afficher/cacher la définition</button>
@if (showdata) {
<p> les directive sont des mots clé angular qui permettent
d'ajouter des comportements aux éléments html ,il existe 3 types de directives : <br>
- les directives structurelles : elles permettent de modifier la structure du DOM ,ex: *ngIf , *ngFor <br>
- les directives d'attribut : elles permettent de modifier l'apparence ou le comportement d'un élément ,ex: [ngStyle] , [ngClass] <br>
- les directives de composant : elles permettent de créer des composants réutilisables ,ex: app-header, app-footer


</p>
}
